body {
    margin: 0;
    margin-right: 5%;
    background-color: white;
    font-family: sans-serif; color:black; font-size: 24px;
}

h1 {
    text-align: center;   
}


menuBar {
    list-style-type: none;
    padding: 0;
    float: right;
    text-align: center;
    position: absolute; right: 0;
    width: 5%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    float: none;
    display: inline;
}

.centerLinks {
    float:
}

        